[submodule "themes/archie"]
    path = themes/archie
    url = https://github.com/athul/archie.git
[submodule "themes/hugo-winston-theme"]
    path = themes/hugo-winston-theme
    url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/ghostwriter"]
    path = themes/ghostwriter
    url = https://github.com/bookiu/ghostwriter.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/paper"]
    path = themes/paper
    url = "https://github.com/bookiu/hugo-theme-paper.git"
