[submodule "themes/archie"]
    path = themes/archie
    url = https://github.com/athul/archie.git
[submodule "themes/hugo-winston-theme"]
    path = themes/hugo-winston-theme
    url = https://github.com/zerostaticthemes/hugo-winston-theme.git
[submodule "themes/ghostwriter"]
    path = themes/ghostwriter
    url = https://github.com/jbub/ghostwriter.git
